- let title = 'типы доставки'
- let notice = '<b>Итоговое подтверждение</b> возможности доставки осуществляется оператором по телефону.'
- 
  let info = {
    href: '/',
    text: 'Подробная информация об условиях доставки.'
  }
- 
  let list = [
    {
      title: "В течение дня",
      text: 'Осуществляется <b>с 9:00 до 22:00.</b><br> На текущий день доставка оформляется до 10:30.',
    },
        {
      title: "Стандартная",
      text: 'Осуществляется <b>с 9:00 до 22:00.</b><br>Заказ доставляется в течение выбранного 4-часового интервала. На <b>сегодня оформляется до 17:30</b>, на последующие дни – в любое время.',
    },
    {
      title: "Горячая доставка",
      text: 'Оформляется <b>только на сегодня</b>, начиная <b>с 9:00 до 17:00.</b><br>Заказ доставляется в течение выбранного 2-часового интервала.',
    },
    {
      title: "Точно ко времени",
      text: 'Заказ доставляется точно ко времени <b>в рамках интервала с 9:00 до 22:00.</b><br><b>Оформляется</b> не позднее чем <b>за 5 часов</b> до желаемого времени доставки.',
      text_special: '(Чтобы мы привезли заказ сегодня, он должен быть оформлен и подтвержден оператором с 8:00 до 17:00. Если заказ будет оформлен и подтвержден сегодня после 17:00, он будет доставлен не ранее 13:00 завтрашнего дня).'
    },
  ]

article.types 
  .inner-container.inner-container_main
    h2.title.types-title.visible__md= title
    ul.types-list
      each item in list
        li.types-item
          h3.title.types-item__title= item.title
          .types-item__content
            p!= item.text
            if(item.text_special)
              p.types-item__text_special!= item.text_special
    .types-notice 
      p.types-notice__text!= notice
      a.types-notice__link(href= info.href)= info.text
          
          
        